# A simple experiment to write a data frame to a nicely formatted spreadsheet

In [1]:
import pandas as pd
import xlsxwriter

In [2]:
# setup a dataframe with some data
columns=['index','First Name','Last Name','Gender','Dojo','Age','Rank','Feet','Inches','Height','Weight','BMI','Events','Weapons']
data=[(255,'Lucas','May','Male','CO- Parker',10,'Yellow',4,3,'4 ft. 3 in.',52,154,'2 Events - Forms & Sparring ($75)','None'),
      (194,'jake','coleson','Male','CO- Cheyenne Mountain',10,'Yellow',4,0,'4',60,156,'2 Events - Forms & Sparring ($75)','Weapons ($35)'),
      (195,'katie','coleson','Female','CO- Cheyenne Mountain',12,'Yellow',4,0,'4',65,161,'2 Events - Forms & Sparring ($75)','Weapons ($35)')]
df=pd.DataFrame(data,columns=columns)
df

,index,First Name,Last Name,Gender,Dojo,Age,Rank,Feet,Inches,Height,Weight,BMI,Events,Weapons
0,255,Lucas,May,Male,CO- Parker,10,Yellow,4,3,4 ft. 3 in.,52,154,2 Events - Forms & Sparring ($75),None
1,194,jake,coleson,Male,CO- Cheyenne Mountain,10,Yellow,4,0,4,60,156,2 Events - Forms & Sparring ($75),Weapons ($35)
2,195,katie,coleson,Female,CO- Cheyenne Mountain,12,Yellow,4,0,4,65,161,2 Events - Forms & Sparring ($75),Weapons ($35)

### See Pandas Excel Example at: https://xlsxwriter.readthedocs.io/example_pandas_simple.html

In [3]:
#setup variables for the filename and the name of the sheet
filename="test.xlsx"
sheetname='Compettitors'

In [4]:
#Create a writer and write the dataframe to it
writer=pd.ExcelWriter(filename,engine='xlsxwriter')
df.to_excel(writer,sheetname)

### See cell formats at: https://xlsxwriter.readthedocs.io/format.html

In [5]:
##setup the spreadsheet to make it look better in print
workbook = writer.book
worksheet = writer.sheets[sheetname]

#define some formats
align_center=workbook.add_format()
align_center.set_align('center')
align_center.set_border(1)

align_left=workbook.add_format()
align_left.set_align('left')
align_left.set_border(1)

full_border=workbook.add_format()
full_border.set_border(1)

#set the format of a few columns
worksheet.set_column('A:O',5,full_border)  #column A:O is everything

worksheet.set_column('A:A',5,align_left)  #column A is the dataframe index
worksheet.set_column('B:B',10,align_left)  #column B is Index field
worksheet.set_column('C:C',20,align_left)  #column C is Fist Name
worksheet.set_column('D:D',20,align_left)  #column D is Last Name
worksheet.set_column('E:E',20,align_left)  #column E is Gender
worksheet.set_column('F:F',30,align_left)  #column F is Dojo
worksheet.set_column('G:G',15,align_center)  #column G is Age
worksheet.set_column('H:H',10,align_left)  #column H is Rank
worksheet.set_column('I:I',5,align_center)  #column I is Feet
worksheet.set_column('J:J',7,align_center)  #column I is Inches
worksheet.set_column('K:K',10,align_left)  #column K is Height
worksheet.set_column('L:L',10,align_center)  #column L is Weight
worksheet.set_column('M:M',20,align_center)  #column M is BMI
worksheet.set_column('N:N',35,align_left)  #column N is Events
worksheet.set_column('O:O',15,align_left)  #column O is Weapons

0

In [6]:
#don't forget to save it to disk
writer.save()